@maxphone: ~"only screen and (max-width : 319px)";
@maxsmall: ~"only screen and (max-width : 479px)";
@maxtablet: ~"only screen and (max-width : 767px)";
@maxdesktop: ~"only screen and (max-width : 991px)";
@maxlarg: ~"only screen and (max-width : 1199px)";


@phone: ~"only screen and (min-width : 320px)";
@small: ~"only screen and (min-width : 480px)";
@tablet: ~"only screen and (min-width : 768px)";
@desktop: ~"only screen and (min-width : 992px)";
@large: ~"only screen and (min-width : 1200px)";


@phone-small: ~"only screen and (min-width : 320px)  and (max-width : 479px)";
@small-tablet: ~"only screen and (min-width : 480px) and (max-width : 767px)";
@tablet-desktop: ~"only screen and (min-width : 768px) and (max-width : 991px)";
@desktop-large: ~"only screen and (min-width : 992px) and (max-width : 1199px)";
@tablet-large: ~"only screen and (min-width : 768px) and (max-width : 1199px)";


//PREMIER PASSPORT FONT FAMILY
@ubuntu: 'Ubuntu', sans-serif;



//PREMIER PASSPORT COLORS
@blue: #52c1de;
@black: #000;
@white: #fff;
@hover-blue: #2aadcf;
@grey-bg: #f0f0f0;
@grey: #ddd;
