body {
  color: #000;
  font-family: "Open Sans", Helevetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f0f0f0;
}
.react-logo {
  width: 259px;
  height: auto;
  display: block;
  margin: 50px auto 40px;
  max-width: 100%;
}
input {
  background: #fff;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 25px 45px;
  color: #000;
  font-weight: 600;
  font-size: 25px;
  max-width: 100%;
}
@media only screen and (max-width : 767px) {
  input {
    font-size: 18px;
    padding: 20px 25px;
  }
}
button {
  background: #52c1de;
  margin-top: 20px;
  color: #fff;
  float: right;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  padding: 15px 40px;
  transition: all 600ms;
}
button:hover {
  text-decoration: none;
  background: #2aadcf;
}
button:active,
button:focus {
  background: #ddd;
}
.single-wiki {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  display: block;
  margin-bottom: 50px;
  transition: all 600ms;
}
@media only screen and (max-width : 767px) {
  .single-wiki {
    margin-bottom: 70px;
  }
}
.single-wiki:hover {
  text-decoration: none;
  border-color: #52c1de;
}
.single-wiki:hover h3 {
  color: #52c1de;
}
.single-wiki h3 {
  color: #000;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 40px;
}
.single-wiki p {
  color: #000;
}
