@import "./assets/style-variables";

body {
  color: #000;
  font-family: "Open Sans", Helevetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: @grey-bg;
}

.react-logo {
  width: 259px;
  height: auto;
  display: block;
  margin: 50px auto 40px;
  max-width: 100%;

}

input {
  background: @white;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 25px 45px;
  color: #000;
  font-weight: 600;
  font-size: 25px;
  max-width: 100%;

    @media @maxtablet {
      font-size: 18px;
      padding: 20px 25px;
    }

}

button {
  background: @blue;
  margin-top: 20px;
  color: @white;
  float: right;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  padding: 15px 40px;
  transition: all 600ms;

  &:hover {
    text-decoration: none;
    background: @hover-blue;
  }

  &:active,
  &:focus {
    background: @grey;
  }
}

.single-wiki {
  border-bottom: 1px solid @black;
  padding-bottom: 10px;
  display: block;
  margin-bottom: 50px;
  transition: all 600ms;

  @media @maxtablet {
    margin-bottom: 70px;
  }

  &:hover {
    text-decoration: none;
    border-color:@blue;
    h3 {
      color: @blue;
    }
  }

  h3 {
    color: @black;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
  }

  p {
    color: @black;
  }

}
